.ProjectGrid {
  width: 100%;

  & .ProjectGrid__category-filter {
    margin-bottom: 1rem;
  }

  & .ProjectGrid__item-wrapper {
    
  }

  & .ProjectGrid__no-projects {
    width: 100%;
    text-align: center;

    @include font-content-regular();
    color: color-link("text-tertiary");
    font-style: italic;
  }
}