.SelectableListItem {
  @include reset-anchor();

  cursor: pointer;
  @include font-content-bold();
  color: color-link("text-primary");
  margin-bottom: 0.5rem;

  transition: color 0.2s;

  &:hover {
    color: color-link("text-hover");
  }

  &.disabled {
    pointer-events: none;
    color: color-link("text-disabled");
  }
}