@mixin mdx-base($base-font-size) {
  $base-indent: 20px;
  $incr-indent: 10px;

  font-size: $base-font-size;

  color: color-link("text-primary");

  h1 {
    font-size: $base-font-size + 0.7rem;
  }

  h2 {
    font-size: $base-font-size + 0.5rem;
  }

  h3 {
    font-size: $base-font-size + 0.3rem;
  }

  h4 {
    font-size: $base-font-size + 0.1rem;
  }

  h5 {
    font-size: $base-font-size;
  }

  & ul{
    margin-left: $base-indent;
  }
  
  /* Second Level */
  & ul ul{
    margin-left: $base-indent + $incr-indent;
  }
  
  /* Third Level */
  & ul ul ul{
    margin-left: $base-indent + $incr-indent + $incr-indent;
  }

  & li::marker {
    content: "> ";
    color: color-link("accent");
  }
}

@mixin mdx-about-content() {
  @include mdx-base(1.8rem);
}

@mixin mdx-timeline-content() {
  @include mdx-base(1.6rem);
}

@mixin mdx-project-content() {
  @include mdx-base(1.6rem);
}