@mixin mdx-base() {
  

  $base-indent: 20px;
  $incr-indent: 10px;

  // TODO: customize bullet points

  & ul{
    margin-left: $base-indent;
  }
  
  /* Second Level */
  & ul ul{
    margin-left: $base-indent + $incr-indent;
  }
  
  /* Third Level */
  & ul ul ul{
    margin-left: $base-indent + $incr-indent + $incr-indent;
  }
}

@mixin mdx-about-content() {
  @include mdx-base();

  font-size: 1.8rem;
  color: color-link("text-primary");
}

@mixin mdx-timeline-content() {
  @include mdx-base();

  font-size: 1.6rem;
  color: color-link("text-primary");
}

@mixin mdx-project-content() {
  @include mdx-base();

  font-size: 1.8rem;
  color: color-link("text-primary");
}