.ContentWrapper {
  width: 100%;
  min-height: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  & .ContentWrapper__content {
    height: 100%;

    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    $padding-vert: 10rem;
    $padding-horiz: 2rem;
    padding: $padding-vert $padding-horiz;

    @include respond(phone) {
      $padding-vert: 5rem;
      $padding-horiz: 2.5rem;
      padding: $padding-vert $padding-horiz;
    }
  }

  &.wideness-wide .ContentWrapper__content {
    max-width: 120rem;
  }

  &.wideness-normal .ContentWrapper__content {
    max-width: 80rem;
  }

  &.wideness-thin .ContentWrapper__content {
    max-width: 70rem;
  }
}