.BaseLayout__overlay-container {
  height: 100%;
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;

  perspective: 1200px;
}

#BaseLayout {
  // Default global stylings
  @include font-content-regular();
  color: color-link("text-primary");

  width: 100vw;

  & .BaseLayout__content {
    width: 100vw;
  }
}