.BaseLayout__overlay-container {
  height: 100%;
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;

  perspective: 1200px;
}

#BaseLayout {
  // Default global stylings
  @include font-content-regular();
  color: var-link("text-primary");

  width: 100%;
  height: 100%;

  & .BaseLayout__sub-container {
    position: relative;
  
    & .BaseLayout__content {
      height: 100%;
      width: 100vw;
    }
  }
}