.ExperienceSection {
  // color: color-link("text-primary");
  color: color-link("test");
  background-color: color-link("bg-primary");

  & .ExperienceSection__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    & .ExperienceSection__title {
      @include font-title();
    }

    & .ExperienceSection__divider {
      $base-gap: 1rem;
      margin-top: $base-gap;
      margin-bottom: $base-gap + 3rem;
    }

    & .ExperienceSection__timeline {
      
    }
  }
}