.ExperienceSection {
  // color: color-link("text-primary");
  color: color-link("test");
  background-color: color-link("bg-primary");

  & .ExperienceSection__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    & .ExperienceSection__title {
      @include font-title();
    }

    & .ExperienceSection__divider {
      margin: 1rem 0;
    }
  }
}