.LandingSection {
  color: color-link("text-primary");
  background-color: color-link("bg-landing");

  & .LandingSection__parallax {
    width: 100%;
    height: 100%;
  }

  & .LandingSection__paralax-bg {
    width: 100vw;
    height: 100vh;
  }

  & .LandingSection__content {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 2rem;

    z-index: 1;

    & > * {
      will-change: transition;
    }

    & .LandingSection__name {
      max-width: 100%;
  
      margin-bottom: 0.3rem;
  
      @include font-header();
      font-size: 4rem;
  
      letter-spacing: 0.1rem;
  
      text-align: center;

      will-change: transition;
    }
  
    & .LandingSection__divider {
      will-change: transition;
    }
  
    & .LandingSection__descriptive-words-list {
      display: flex;
      flex-direction: row;
      align-items: center;
  
      margin-top: 1rem;
  
      & .LandingSection__word-divider {
        align-self: stretch;
  
        margin: 0.3rem 0.8rem;
  
        width: 1px;
        background-color: color-link("text-secondary");
      }
  
      & .LandingSection__descriptive-word {
        @include font-content-regular();
        font-size: 2.1rem;
  
        color: color-link("text-secondary");
  
        text-align: center;
      }
    }
  }

  & .LandingSection__background {
    height: 120vh;

    z-index: 0;
  }
}