.TimelineItem {
  // Defined CSS-vars:
  // --backbone-gap
  // --backbone-width
  // --accent-color
  // --accent-width
  // --pointer-size

  position: relative;
  display: grid;
  grid-template-rows: auto;
  

  &.side-left {
    grid-template-columns: 1fr var-link("accent-width");
    grid-template-areas: 
      "content accent";

    & .TimelineItem__pointer {
      right: calc(-1 * #{var-link("pointer-size")} / 2 - (#{var-link("backbone-gap")} + #{var-link("backbone-width")} / 2));
    }
  }

  &.side-right {
    grid-template-columns: var-link("accent-width") 1fr;
    grid-template-areas: 
      "accent content";

    & .TimelineItem__pointer {
      left: calc(-1 * #{var-link("pointer-size")} / 2 - (#{var-link("backbone-gap")} + #{var-link("backbone-width")} / 2));
    }
  }

  & .TimelineItem__content {
    grid-area: content;

    padding: 2rem;

    background-color: color-link("timeline-background");
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;

    @include font-content-regular();

    @include respond(phone) {
      padding: 1.5rem;
    }

    & .TimelineItem__title-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & .TimelineItem__title {
        flex-grow: 1;
        flex-shrink: 1;

        @include font-content-bold();

        font-size: 1.8rem;
        color: color-link("text-primary");

        margin-right: 0.5rem;
      }

      & .TimelineItem__date {
        flex-grow: 0;
        flex-shrink: 3;

        font-size: 1.6rem;
        color: color-link("text-tertiary");

        text-align: right;
      }

      @include respond(phone) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        & .TimelineItem__date {
          text-align: left;
        }
      }
    }

    & .TimelineItem__subtitle {
      font-size: 1.6rem;
      color: color-link("text-secondary");
    }

    & .TimelineItem__body {
      margin-top: 1rem;
    
      @include mdx-timeline-content();
    }
  }

  & .TimelineItem__accent {
    grid-area: accent;

    background-color: color-link("accent-color");
    box-shadow: 0px 4px 6px 0px color-link("accent-color", 0.5);
  }

  // Reference: https://css-tricks.com/the-shapes-of-css/#diamond-square-shape-via-joseph-silber
  & .TimelineItem__pointer {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    width: var-link("pointer-size");
    height: var-link("pointer-size");

    // Reference: https://css-tricks.com/using-box-shadows-and-clip-path-together/
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.5));
  }

  & .TimelineItem__pointer-diamond {
    width: 100%;
    height: 100%;

    background-color: color-link("accent-color");
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }
}