@import "./utils.scss";

// These css variables will always be applied
.global-theme {
  // Theme toggle icon colors
  --bg-toggle-light: #{rgb-str(#BCBCBC)};
  --bg-toggle-dark: #{rgb-str(#65BFDC)};
  --icon-bg-toggle-light: #{rgb-str(#F9FFB6)};
  --icon-bg-toggle-dark: #{rgb-str(#424243)};
  --icon-color-toggle-light: #{rgb-str(#151515)};
  --icon-color-toggle-dark: #{rgb-str(#FFFFFF)};
}

.theme-light {
  --bg-landing: #{rgb-str(#F8F9FF)};
  --bg-primary: #{rgb-str(#FFFFFF)};
  --bg-footer: #{rgb-str(#eaecf3)};
  --bg-experience: #{rgb-str(#FFFFFF)};
  --bg-project: #{rgb-str(#FFFFFF)};
  --bg-nav: #{rgb-str(#F8F9FF)};

  --text-primary: #{rgb-str(#151515)};
  --text-secondary: #{rgb-str(#5c5c5c)};
  --text-tertiary: #{rgb-str(#616161)};
  --text-footer: #{rgb-str(#8C8C8C)};
  --text-hover: #{rgb-str(#1d3033)};
  --text-disabled: #{rgb-str(#464646)};

  --accent: #{rgb-str(#00C2FF)};

  --timeline-backbone: #{rgb-str(#C4C4C4)};
  --timeline-background: #{rgb-str(#FFFFFF)};

  --resume-text: #{rgb-str(#FFFFFF)};
  --resume-gradient-1: #{rgb-str(#D699F2)};
  --resume-gradient-2: #{rgb-str(#78C3ED)};
  --resume-gradient-selected-1: #{rgb-str(#dfadf7)};
  --resume-gradient-selected-2: #{rgb-str(#93d2f7)};
  --resume-gradient-disabled-1: #{rgb-str(#cdb5d8)};
  --resume-gradient-disabled-2: #{rgb-str(#8cbad4)};

  --scrollbar-track: #{rgb-str(#3b3b3b)};
  --scrollbar-thumb: #{rgb-str(#494949)};
  --scrollbar-hover: #{rgb-str(#575757)};

  --bars-color: #{rgb-str(#3e8bff)};
}

.theme-dark {
  --bg-landing: #{rgb-str(#212124)};
  --bg-primary: #{rgb-str(#232323)};
  --bg-footer: #{rgb-str(#414141)};
  --bg-experience: #{rgb-str(#464646)};
  --bg-project: #{rgb-str(#393939)};
  --bg-nav: #{rgb-str(#232323)};

  --text-primary: #{rgb-str(#FFFFFF)};
  --text-secondary: #{rgb-str(#cecece)};
  --text-tertiary: #{rgb-str(#969696)};
  --text-footer: #{rgb-str(#A6A6A6)};
  --text-hover: #{rgb-str(#a3eaff)};
  --text-disabled: #{rgb-str(#afafaf)};

  --accent: #{rgb-str(#00C2FF)};

  --timeline-backbone: #{rgb-str(#464646)};
  --timeline-background: #{rgb-str(#464646)};

  --resume-text: #{rgb-str(#FFFFFF)};
  --resume-gradient-1: #{rgb-str(#DA99F8)};
  --resume-gradient-2: #{rgb-str(#4CA7DB)};
  --resume-gradient-selected-1: #{rgb-str(#e8b5ff)};
  --resume-gradient-selected-2: #{rgb-str(#66c4fa)};
  --resume-gradient-disabled-1: #{rgb-str(#cdb5d8)};
  --resume-gradient-disabled-2: #{rgb-str(#8cbad4)};

  --scrollbar-track: #{rgb-str(#3b3b3b)};
  --scrollbar-thumb: #{rgb-str(#494949)};
  --scrollbar-hover: #{rgb-str(#575757)};

  --bars-color: #{rgb-str(#1e78ff)};
}